---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Cairo|Cairo:bold');

body {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

header {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}


#main-content h1,
#main-content h2,
#main-content h3,
#main-content h4,
#main-content h5,
#main-content h6 {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

@media only screen and (max-width: 767px) {
  #main-content h1,
  #main-content h2,
  #main-content h3,
  #main-content h4,
  #main-content h5,
  #main-content h6 {
    text-indent: 0;
  }
}
