---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Cairo|Cairo:bold');

header {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h1 {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h2 {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h3 {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h4 {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h5 {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}
