---
---

@import "{{ site.theme }}";

@import url('https://fonts.googleapis.com/css?family=Cairo|Cairo:bold');

body {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

header {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h1 {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h2 {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h3 {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h4 {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h5 {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

#main-content h6 {
  font-family: 'Cairo', 'Helvetica Neue', Helvetica, Arial, serif;
}

@media only screen and (max-width: 767px) {
  #main-content h1 {
    text-indent: 0;
  }

  #main-content h2 {
    text-indent: 0;
  }

  #main-content h3 {
    text-indent: 0;
  }

  #main-content h4 {
    text-indent: 0;
  }

  #main-content h5 {
    text-indent: 0;
  }

  #main-content h6 {
    text-indent: 0;
  }
}
